__pycache__
__pycache__/
*.pyc
CAD

# Virtual Environment
venv/
.venv/
backend/venv/

# IDE specific
.vscode/
.idea/

# Other
.env
# Python virtual environment
venv/
*.venv/
env/
.env

# Python cache files
__pycache__/
*.pyc

# Other common files
.vscode/
*.log